In [1]:
import sqlite3

In [2]:
# DBファイルの保存先パス（相対パスで指定）
path = ''

# Google Colabの場合
# path = '/content/'

#DBファイル
db_name = 'test.db'

# DB接続の確立
# DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
### car.db
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |
​
### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

### テーブルを作成

In [3]:
path = ''
db_name = 'car.db'


# DB接続オブジェクトの作成
conn = sqlite3.connect(path + db_name)

# SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
cur = conn.cursor()

# SQL文の作成
# テーブルの作成
sql = 'CREATE TABLE cars (Id INT, name TEXT, price REAL);'

# SQLの実行
cur.execute(sql)

# DBへの接続を閉じる
conn.close()

## データをDBに挿入する（単一レコード）

In [6]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    # 文字列データを挿入する場合は、文字列をシングルクォーテーションで挟む
    sql = "INSERT INTO cars (Id, name, price) VALUES (1, '370z', 7000000);"

    # SQLの実行
    cur.execute(sql)

     # 変更をDBに反映させる
    conn.commit()


except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

### データをDBに挿入する（複数レコード）

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを削除するSQL
    # DELETE FROM テーブル名 WHERE 条件式;
    sql = "DELETE FROM cars WHERE Id = 1;"

    # SQLの実行
    cur.executemany(sql, cars)

     # 変更をDBに反映させる
    conn.commit()


except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

### DB内のデータを参照する

In [9]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを参照するSQL
    # SELECT * FROM テーブル名;
    # ＊の部分を列名に変更することで、特定の列のみを取得することも可能
    sql_select = "SELECT * FROM cars;"

    # SQLの実行
    cur.execute(sql)

    # 変更をDBに反映させる
    # conn.commit()


except sqlite3.Error as e:
    print('エラーが発生しました:', e)

else:
    for row in cur:
        id, name, price = row
        print(id, name, price)

finally:
    # DBへの接続を閉じる
    conn.close()

エラーが発生しました: Incorrect number of bindings supplied. The current statement uses 3, and there are 0 supplied.

### データの削除

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを削除するSQL
    # DELETE FROM テーブル名 WHERE 条件式;
    sql = "DELETE FROM cars WHERE Id = 1;"
    sql = "DELETE FROM cars WHERE name = 'Mustang';"
    # sql = "DELETE FROM cars WHERE name like '%tang';"

    # SQLの実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()


except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

### データの更新

In [11]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを更新するSQL
    # UPDATE テーブル名 SET 列名 = 新しい値 WHERE 条件式;
    sql = "UPDATE cars SET price = ? WHERE id = ?;"

    # SQLの実行
    cur.execute(sql, (6000000, 2))

    # 変更をDBに反映させる
    conn.commit()


except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()